body{
    margin:0;
    padding:0;
    background-color: lightgray;
    background-position:center;
    background-size:auto;
    height:500px;

}
.header{
    display:flex;
    justify-content:center;
    background-color:lightgray;
    margin:0;
    width:100%;
}


.navigation {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    list-style-type: none;
    width:900px;
    font-family: 'Source Sans Pro', sans-serif;
}


.tabs {
    list-style-type:none;
    display:flex;
    justify-content:flex-end;
    flex-direction:row;

}
.tab1, .tab2, .tab3, .tab4, .tab5 {
    margin-left:20px;
    margin-right:20px;
    font-size:18pt;
    font-weight:bold;
    
}

a:link {
    text-decoration:none;
    color:black;
    
    
}

.container {
    display:flex;
    justify-content:center;
    
}
.wrapper {
    display:flex;
    justify-content:center;
    flex-direction:column;


}

.img1 {
    display:flex;
    justify-content:center;
    max-height:500;
    width:auto;
}

.typed-strings {
    display:flex;
    justify-content:center;
}
.text {
    max-height:525px;
    font-family: 'Open Sans', sans-serif;
}

.aboutme {
    height:550px;
    font-size:12pt;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    margin-top:0;
    margin-left:10px;
    min-width:270px;
}

.img1 img {
    border-radius:15px;
    max-height:650px;
    border-right:solid;
    border-color:black;
    border-width:3px;
    overflow:hidden;

}

@media only screen and (max-width:680px) {

    .wrapper {
        max-width:300px;
        max-height:480px;
    }
    .text {
        max-width:340px;
    }
    .img1 img {
        max-width: 180px;
    }
}